[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-runner = "*"
docutils = "*"
pygments = "*"
detox = "*"
codecov = "*"

[requires]
python_version = "3.6"
